html,
body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0
}

html,
body {
  height: 100%;
}

body {
  /*background: url(assets/bg1.jpg) center !important;
    background-size: cover;*/
  /* background: #1F2D3D; */
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body,
a {
  color: #333;
}

ul {
  list-style-type: none;
}

.tc {
  text-align: center;
}

.tr {
  text-align: right;
}

.tl {
  text-align: left;
}

.tj {
  text-align: justify;
}

.l {
  float: left;
}

.r {
  float: right;
}

.cl {
  clear: both;
}

.rel {
  position: relative;
}

.abs {
  position: absolute;
}

.zx1 {
  z-index: 1;
}

.zx2 {
  z-index: 2;
}

.dn {
  display: none;
}

.di {
  display: inline;
}

.db {
  display: block;
}

.dib {
  display: inline-block;
}

div.dib {
  *display: inline;
  *zoom: 1;
}
